/*  import google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}

/* custom scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* all similar content styling codes */
section{
    padding: 100px 0;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .services, .skills, .teams, .contact, footer{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

/* navbar styling */
.navbar{
    position:fixed;
    height: 80px;
    width: 100%;
    z-index: 999;
   
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    background:#1a1814;
    justify-content: center;
}
.navbar.sticky{
   
     background:#1a1814;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 34px;
    font-weight: bold;
    color: white;
    padding: 0 100px;
    line-height: 80px;
}
.navbar .logo a{
   color: white;
    font-size: 20px;
    padding: 17px 40px;
    transition: color 0.3s ease;
}

.navbar .menu li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar .menu li a{
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: coral;
    text-decoration: none;
}
.navbar.sticky .menu li a:hover{
    color: #fff;
}

/* menu btn styling */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: coral;
    color: white;
    right: 30px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    
    z-index: 9999;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 30px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}


/* home section styling */
.home{
    display: flex;
   
    height: 100vh;
    color: #1a1814;
    min-height: 500px;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
.home .comb{
    margin-top: 10%;
    margin-left: 5%;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .max-width .row{
  margin-right: 0;
}
.home .home-content .text-1{
    font-size: 27px;
    color: coral;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
    color: #1a1814;
}
.home .home-content .text-3 span{
    color: coral;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    font-weight: 400;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
.follow{
    margin-left: 10%;
}
.follow a{
    font-size: 2.4rem;
    color:white;
    justify-content: space-between;
     margin-top:5%;
     margin-left: 3%;
}
.follow a:hover{
    color: coral;
}
header{
    z-index: 999;
    position: fixed;
    background: rgba(225,255,255,0.1);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
}

header.sticky{
    background: black;
    padding: 10px 30px;
}



.header{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)) ,url('img/bg2.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    clip-path: polygon(100% 0%,100% 75%,50% 100%,0 75%,0 0);
    position: relative;
}
.header:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%,#3ccdbb 0%,#16c9f6 100%);
}

/*about*/
/* about section styling 
.about .title::after{
 
    content: "Web Developer & Programmer";
    
    color: #095d60;
}
*/
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 50%;
    width: 60%;
    object-fit: cover;
    border: 2px solid #1a1814; 
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
    margin-top: -10%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: coral;
}
.about .about-content .right p{
    text-align: center;
    font-size: 2.7vh;
}
.about .about-content .right a{
    display: inline-block;
    background: coral;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.about .about-content .right a:hover{
    color: chocolate;
    background: none;
}
.extra-div1{
    background:beige;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 0.3s;
    margin-left: 5%;
    margin-right: 5%;
}
.extra-div1:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

.education{
    width: 100%;
    padding: 50px;
    height: 100vh;
    position: relative;
}
.education:before{
    content: "";
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    z-index: -1;
    background: linear-gradient(160deg,#16c9f6 55%, #ffffff 0%);
}
.card{
    transition: 0.4s ease;
    border-radius: 5px;
     border: 1px;
}
.card-header{
    font-size: 1.6rem;
    font-weight: bolder;
    background-color: #e2dbdb!important;
    padding: 25px 9px!important;
    text-align: center;
}
.card-footer{
    background-color: #e2dbdb;
    font-weight: bolder;
     padding: 25px 9px!important;
     text-align: center;
}
.card-body{
    padding: 23px 0px !important;
    background-color: #ffffff;
}
.card-body li{
    margin: 10px 0;
    font-weight: 550;
    font-size: 15px;
    line-height: 1.6;
    color: #606060;
    list-style: none;
    text-align: center;
}
.card-footer a{
    
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #50d1c0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
}
.card:hover .card-footer a{
    color: #ffffff;
    background-color: deepskyblue;
    text-decoration:none;
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
}
.card:hover{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.658);
}
.card:hover .card-header,.card:hover .money{
    color: deepskyblue;
}
.card-second{
    transform: translateY(-20px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.658);
    
}
/* skill section styling */
.skills{
    background-image: linear-gradient(to top left,bisque,coral);
    
}

.skills .content{
    position: relative;
    width: 90%;
    display: flex;
    justify-content: space-between;
    color: #1a1814;
    margin-top: 20px;
}

.skills .content .col-left{
    position: relative;
    margin-left: 10%;
    width: 40%;
    justify-content: space-between;
}

.skills .content .col-right{
    position: relative;
    width: 46%;
}

.skills .content .col-right .bar{
    margin-bottom: 15px;
    padding: 10px;
}

.skills .content .col-right .bar .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.skills .content .col-right .bar .info span{
    font-size: 18px;
    font-weight: 500;
}
.skills .content .col-right .bar .line{
    position: relative;
    width: 100%;
    height: 15px;
    background: #ccc;
    border-radius: 2px;
}
.skills .content .col-right .bar .line:before{
    content: '';
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 2px;
}

.skills .content .col-right .bar .Cplusplus:before{
    width: 95%;
    background:#e45126;

}
.skills .content .col-right .bar .C:before{
    width: 90%;
    background: #0c73b8;
}

.skills .content .col-right .bar .html:before{
    width: 88%;
    background:#e3a324;
}
.skills .content .col-right .bar .CSS:before{
    width: 85%;
    background: crimson;
}
.skills .content .col-right .bar .DSA:before{
    width: 82%;
    background: lawngreen ;
}
.skills .content .col-right .bar .DBMS:before{
    width: 80%;
    background: darkslategray ;
}
.read-more-btn{
    margin-top: 15px;
}
.read-more-btn{
    background-color: #5995fd;
    padding: 10px 40px;
    text-decoration: none;
    border: none;
    outline: none;
    color: #fff;
    font-size: 24px;
    letter-spacing: 1.5px;
    cursor: pointer;
}
/*wrong skills section styling */

/* teams section styling */

.teams .carousel .card{
  background: #222;
    border-radius: 3px;
    
    width: 100%;
   
    justify-content: space-between;
  padding: 15px 5px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: bottom;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    color: whitesmoke;
    margin: 10px 0 7px 0;
}
.teams .carousel .card .text:hover{
   color:chocolate;
}
.teams .carousel .card img{
     height: 40vh;
    width:100%;
    object-fit: cover;
    border-radius: 10%;
    border: 2px solid black;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}
.back-video{
    position: absolute;
    right:0;
    /*bottom: 0;*/
    z-index: -1;
}
@media(min-aspect-ratio:16/9)
{
    .back-video{
        width:100%;
        height: auto;
    }
}
@media(max-aspect-ratio:16/9)
{
    .back-video{
        width:auto;
        height: 100%;
    }
}
.btn-view{
    color: #fff;
    border-radius: 10%;
    background: coral;
    display: inline-block;
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.btn-view:hover{
    background: black;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot.active,
.owl-dot:hover{
    background: crimson!important;
}

/* contact section styling */
.contact .content{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;

}
.contact .content .row{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
        flex-direction: row;
}
.contact .content .row .card{
    background: #ffffff;
    width: 180px;
    margin: 10px;
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
}.contact .content .row .card:hover{
 box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
   }
.contact .content .row .card .contact-icon{
    color: coral;
    font-size: 4em;
    text-align: center;
    transition: transform 0.5s ease;
}
.contact .content .row .card .contact-icon{
    transform: translateY(-10px);

}

.contact .content .row .card .info{
    text-align: center;

}
.contact .content .row .card .info h3{
    color: #111;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.contact .content .row .card .info  span{
    color: #666;
    font-weight: 500;
}
.contact-form{
    background: #fff;
    max-width: 730px;
    margin-top: 50px;
    margin-left: 3%;
    margin-right: 3%;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 5px 25px rgba(1 1 1 / 50%)
}


.contact-form h3{
    color: #111;
    font-size: 1.6em;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;

}

.contact-form .input-box1 input{
    color: #111;
    width: 50%;
    padding: 10px;
    font-size: 1em;
   
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;
}
.contact-form .input-box textarea{
    color: #111;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
    outline: none;
    border: 1px solid #111;
    border-radius: 5px;
    resize: none;

}

.contact-form .input-box .send-btn{
    color: #fff;
    background: coral;
    display: inline-block;
    font-size: 1.7em;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    width: 100%;
    height: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}
.contact-form .input-box .send-btn:hover{
    background: black;
}
.footer{
    text-align: center;
    background: #222;
    color: blanchedalmond;
    padding: 2em;
}

.footer .footer-title{
               font-size: 20px;
               font-weight: 600; 
}

.footer p{
    font-size: 16px;
    /*margin-top: 10px;*/

}

.footer p a{
    color: #3a6cf4;
    font-weight: 600;
    text-decoration: none;
}

/* responsive media query start */
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
}

@media (max-width: 991px) {
    .max-width{
        padding: 0 50px;
    }
}
@media (max-width: 947px){
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active:before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 150vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: #111;
        text-align: center;
/*        padding-top: 50px;*/
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 10px 0;
        font-size: 25px;
    }
    .home .home-content .text-2{
        font-size: 70px;
    }
    .home .home-content .text-3{
        font-size: 35px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 20px;
    }
    .max-width{
        max-width: 930px;
    }
    .about .about-content .column{
        width: 100%;
    }
    .about .about-content .left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .about .about-content .right{
        flex: 100%;
    }
    .services .serv-content .card{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column,
    .contact .contact-content .column{
        width: 100%;
        margin-bottom: 35px;
    }
}

@media (max-width: 690px) {
    .max-width{
        padding: 0 23px;
    }
    .home .home-content .text-2{
        font-size: 60px;
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .services .serv-content .card{
        width: 100%;
    }
}

@media (max-width: 500px) {
    .home .home-content .text-2{
        font-size: 50px;
    }
    .home .home-content .text-3{
        font-size: 27px;
    }
    .about .about-content .right .text,
    .skills .skills-content .left .text{
        font-size: 19px;
    }
    .contact .right form .fields{
        flex-direction: column;
    }
    .contact .right form .name,
    .contact .right form .email{
        margin: 0;
    }
    .right form .error-box{
       width: 150px;
    }
    .scroll-up-btn{
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}
